@page "/chat/{LobbyCode}"
@using ChatTool.Shared

<h3>Room: @LobbyCode</h3>

<p>
    Verbundene Peers: <strong>@ConnectedPeers.Count</strong>
</p>

<input @bind="Name" />

@if (!IsAnyConnectionOpen)
{
    <p>Waiting for peer connection…</p>

    <h5>Log</h5>
    <ul>
        @foreach (string log in LogMessages)
        {
            <li>@log</li>
        }
    </ul>
}
else
{
    <div class="flex-container">
        <h5>Messages (@ConnectedPeers.Count Peers online)</h5>
        <div class="messages">

            <ul>
                @foreach (ChatMessage msg in Messages)
                {
                    <li class="box box2 chat-message @(msg.userType == UserType.Me ? "from-me" : "from-peer")">
                        @msg.From : @msg.Message
                    </li>
                }
            </ul>
        </div>
        <div class="input-bar">

            <textarea class="box-input " @bind="Message" @bind:event="oninput" @onkeydown="SendOnKeyDown" placeholder="Type message..."></textarea>

            <button @onclick="OnSend">Send</button>
        </div>
    </div>

}